In [1]:
# Import libraries for data manipulation
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')


# Read the data from csv and store in data variable
df = pd.read_csv('/content/drive/MyDrive/CodeCamCode/adult.data.csv')
# Returns the first 5 rows
df.head()

Mounted at /content/drive

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
# Question 1 How many people of each race are represented in this dataset?
df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [5]:
# Question 2 What is the average age of men?
df[df["sex"] == "Male"]["age"].mean().round()

np.float64(39.0)

In [39]:
# Question 3 What is the percentage of people who have a Bachelor's degree?
batch = (df["education"] == "Bachelors").sum()
output = (batch / len(df) *100).round(2)
print("")

np.float64(16.45)

In [23]:
# Question 4 what percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
#df[(df["education"].isin(["Bachelors","Masters","Doctorate"]))] & df["salary" == ">50"]
#(df["salary" == ">50"].sum()/df[(df["education"].isin(["Bachelors","Masters","Doctorate"]))].sum())*100
(df[(df["education"].isin(["Bachelors", "Masters", "Doctorate"])) & (df["salary"] == ">50K")].shape[0]/df[df["education"].isin(["Bachelors", "Masters", "Doctorate"])].shape[0]) * 100

46.535843011613935

In [8]:
# Question 5 What percentage of people without advanced education make more than 50K?
#please note i considered anything past 12th as advanced education which are "Bachelors", "Masters", "Doctorate","Some-college
df[(df["education"].isin(["Bachelors", "Masters", "Doctorate","Some-college"])) & (df["salary"] == ">50K")].shape[0]/df[df["education"].isin(["Bachelors", "Masters", "Doctorate","Some-college"])].shape[0]*100

32.965769178730895

In [9]:
# Question 6 What is the minimum number of hours a person works per week?
df["hours-per-week"].min()

1

In [10]:

# Question 7 What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
df[(df["hours-per-week"] == 1) & (df["salary"] == ">50K")].shape[0] / df[df["hours-per-week"] == 1].shape[0]*100

10.0

In [11]:
# Question 8 What country has the highest percentage of people that earn >50K and what is that percentage



# Step 1: Group data by country and count people
high_earners_per_country = df[df["salary"] == ">50K"].groupby("native-country")["salary"].count()
total_people_per_country = df.groupby("native-country")["salary"].count()

# Step 2: Compute the percentage of high earners per country
percentage_high_earners = (high_earners_per_country / total_people_per_country) * 100

# Step 3: Find the country with the highest percentage
highest_percentage_country = percentage_high_earners.idxmax()  # Country with max percentage
highest_percentage = percentage_high_earners.max()  # Max percentage

# Print result
print(f"The country with the highest percentage of people earning >50K is {highest_percentage_country} with {highest_percentage:.2f}%")

The country with the highest percentage of people earning >50K is Iran with 41.86%

In [12]:
# Question 9 Identify the most popular occupation for those who earn >50K in India.


# Step 1: Filter for people in India earning >50K
india_high_earners = df[(df["native-country"] == "India") & (df["salary"] == ">50K")]

# Step 2: Find the most common occupation
most_common_occupation = india_high_earners["occupation"].value_counts().idxmax()

# Print result
print(f"The most popular occupation for those earning >50K in India is: {most_common_occupation}")

The most popular occupation for those earning >50K in India is: Prof-specialty